// Main Menu

.navbar {
  text-align: left;
}

.main-menu {
  @include m-0;
}

.navbar-collapse {
  margin: 0 -15px;
  @include p-1;
  &.show {

  }
  &:target {
    display: block;
  }
}

.navbar-nav {
  
}

.navbar-toggler {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  height: 100%;
  top: 5px;
  right: 5px;
  padding: 0;
  &:focus {
    outline: none;
  }
  .navbar-inverse & {
    border: none;
    .icon {
      fill: #ddd;
    }
  }
  .icon {
    height: 1.75em;
    width: 1.75em;
    margin-right: 0;
    margin-left: 0;
    top: -5px;
  }
  &[aria-expanded=true] {
    background-color: #EEE;
  }
  &.no-script {
    z-index: 1;
  }
}

// Custom Toggle Button

$box-size: 40px;

.toggle-button {
  border-radius: 50%;
  cursor: pointer;  
  padding: 0;
  height: 100%;
  width: 100%;
  max-height: 2em;
  max-width: 2em;
  //width: 56px;
  
  .nav-icon,
  .nav-icon:before,
  .nav-icon:after {
    transition: .3s ease-in-out;
  }

  .nav-icon {
    background: currentColor;
    background: transparent;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    span {
      text-transform: uppercase;
      transition: opacity .3s ease;  
    }
    
    &:before,
    &:after {
      opacity: 0;  
      content: '';
      background: currentColor;
      border-radius: 5px;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;  
    }

    &:before {
      top: -$box-size/5;
    }

    &:after {
      top: $box-size/5;
    }

    &:hover,
    &:focus {
      will-change: transform scale;
    }
    
  }
  
  &[aria-expanded=true] {
    background: #333;
    .nav-icon {
      background-color: transparent;
      transform: scale(.7);
      height: 4px;
      width: 65%;
      position: absolute;
      span, .icon {
        opacity: 0;  
      }
      &:before,
      &:after {
        opacity: 1;
      }
      //transform: rotate(-180deg);
      &:before {
        background: #FFF;
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        background: #FFF;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
  
  &:hover,
  &:focus {
    box-shadow: none;
  }
        
}

.navbar-brand {
  @include flex;
  @include ai-center;
  flex-shrink: 0;
  height: 100%;
  max-height: 4em;
  max-width: 9.5em;
  @include w-100;
  svg {
    @include flex-grow-1;
    height: 100%;
    max-height: 4em;
    max-width: 9.5em;
    @include w-100;
  }
}

.nav-list {
  font-size: .875em;
  ul > li {
    margin-bottom: 1rem;
  }
  // < 450
  @media (max-width: 28.125em) {
    width: 100%;
  }
}

.nav-title {
  font-size: 1.25em;
  @include mb-2;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #DDD;
}

.nav-item {
  @media (min-width: $break-992) {
    @include ml-1;
    @include mb-0;
  }
}

.dropdown-menu {
  min-width: 15rem;
}

.dropdown-item {
  white-space: initial;
}

@media (min-width: $break-992) {
  .navbar-toggleable-md {

    > .container {
      @include flex;
      flex-wrap: nowrap;
      @include ai-center;
      @include jc-between;
    }
    .navbar-collapse {
      width: auto;
    }

  }
}