//**  CLASS Modifiers  **//

.bg-trans {
  @include bg-trans;
}

.bg-cover {
  @include bg-cover;
}

.bg-full {
  @include bg-full;
}

.bg-hero {
  @include bg-hero;
  
  // blue globe
  &-globe {
    background-image: url(../images/bg/bg-hero-globe-dark.jpg);
    background-image: -webkit-image-set(url(../images/bg/bg-hero-globe-dark.jpg) 1x,
               url(../images/bg/bg-hero-globe-dark-lg.jpg) 2x);
    background-image: -moz-image-set(url(../images/bg/bg-hero-globe-dark.jpg) 1x,
            url(../images/bg/bg-hero-globe-dark-lg.jpg) 2x);
    background-image: -o-image-set(url(../images/bg/bg-hero-globe-dark.jpg) 1x,
            url(../images/bg/bg-hero-globe-dark-lg.jpg) 2x);
    background-image: -ms-image-set(url(../images/bg/bg-hero-globe-dark.jpg) 1x,
            url(../images/bg/bg-hero-globe-dark-lg.jpg) 2x);
  }

  &-user {
    background-image: url(../images/bg/bg-hero-user-man.jpg);
  }

}

.bg-half-globe-left {
  @include bg-cover;
  background-image: url(../images/bg/bg-banner-half-globe-darkgreen.jpg);
}

.bg-analytics {
  @include bg-cover;
  background-image: url(../images/bg/bg-analytics-darkblue.jpg);
}

