.features {
  //padding-top: 2em;
  //padding-bottom: 2em;

  .icon-box-icon {
    font-size: 1rem;
    margin-bottom: .75rem;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 6rem;
  }

}

.icon-box-title h3 {
  @include text-lg;
  font-weight: normal;
}

.icon-box-link {
  color: $link-color;
}