.site-footer {
  padding-top: $calc-2;
  @include theme-black;
  > .container {
    @include p-2;
  }
  p, nav {
    @include text-sm;
  }
  .logo {
    @include flex;
    flex-grow: 1;
    flex-basis: 15em;
    max-width: 15em;
    @include mb-2;
    @include pr-1;
    img {
      max-height: 4em;
      max-width: 15em;
    }
  }
  .search {
    @include mb-2;
  }
  @supports (grid-gap: 0) {
    grid-row: 4 / 4;
  }
  
  @media (max-width: 33em) {
    .logo {
      //max-width: 25em;
      @include mr-a;
      @include ml-a;
    }
    .search {
      @include flex-grow-1;
      @include mw-15em;
      @include mr-a;
      @include ml-a;
    }
  }
}

.footer-nav {
  @include flex;
  @include flex-wrap;
  padding-top: $calc-2;

  nav {
    @include mb-2;
    &:not(:last-child) {
      padding-right: calc(1vw + 2em);
    }
  }

  ul {
    @include mb-0;
    @include ml-0;
    @include pl-0;
  }

  li {
    list-style-type: none;
  }

  a:hover {
    //text-decoration: none;
    @supports (text-decoration-skip: ink) {
      text-decoration-skip: ink;
    }
  }

  @media (min-width: 42em) {
    nav {
      //flex-basis: 17%;
      @include mb-4;
      &:not(:last-child) {
        padding-right: calc(1vw + 4em);
      }
    }
  }
  @media (min-width: 55em) {
    flex-wrap: nowrap;
  }
  @media (min-width: 65em) {
    nav {
      &:not(:last-child) {
        padding-right: calc(1vw + 4em);
      }
    }
  }
}

.footer-contact {
  @include text-sm;
  .contact-info {
    @include mb-2;
  }
  @media (min-width: 39em) {
    > * {
      flex-basis: 50%;
    }
    .contact-info {
      @include mb-0;
    }
  }
}

.footer-copyright {
  border: none;
  .soc-media-icons {
    .icon {
      @include ml-0;
    }
  }
  @media (min-width: 42em) {
    text-align: right;
    .soc-media-icons {
      justify-content: flex-end;
      .icon {
        @include ml-tiny;
        @include mr-0;
      }
    }
  }
}